<html>
	<head>
		<title>Panama Examples - Issues</title>
		<link rel="stylesheet" href="../simple.css" type="text/css">
	</head>
	<body>
		#set($examplename="Issue Tracker")
		#parse("/panama/examples/exampleheader.vm")
		<div style="float:left"><input type="button" onclick="location.href='edit';" value="Create Issue..."/></div>
		<div style="float:right; white-space:nowrap">
			<form method="post" action="$issuetable.searchLink('title','description')">
				<input type="text" name="q" style="width:12em" value="$!issuetable.filters.searchfilter" />
				<input type="submit" name="search" value="Search" />
			</form>
		</div>
		<table>
			<tr>
				<th><a href="$issuetable.sortLink("createdAt")">created at</a></th>
				<th><a href="$issuetable.sortLink("title")">Title</a></th>
				<th>Tags</th>
				<th></th>
			</tr>
			#foreach($issue in $issuetable.rows)
			<tr>
				<td class="narrow">$date.format('medium', $issue.createdAt)</td>
				<td>$!issue.title</td>
				<td class="narrow">
					#foreach($_t in $issue.tags)
					$!_t.name&nbsp;
					#end
				</td>
				<td class="narrow"><a href="edit?id=$issue.id">edit</a> | <a href="delete?id=$issue.id">delete</a></td>
			</tr>
			#end
		</table>
	</body>
</html>