<html>
	<head>
		<title>Panama Examples - Issues</title>
		<link rel="stylesheet" href="../simple.css" type="text/css">
	</head>
	<body>
		#set($examplename="Issue Tracker")
		#parse("/panama/examples/exampleheader.vm")
		<h3>Edit Issue</h3>
		<form action="save" method="post">
		<input type="hidden" name="id" value="$formdata.id" />
		<table>
			<tr>
				<td style="width:10em">Title *</td>
				<td>
					<input type="text" name="title" value="$esc.javascript($formdata.title)">
					$!formdata.errors.title.message
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>
					<textarea name="description">$esc.javascript($formdata.description)</textarea>
				</td>
			</tr>
			<tr>
				<td>Tags</td>
				<td>
					<select name="tags" multiple>
					#foreach($_f in $alltags)
						#set($_sel = "")
						#if ($formdata.tags.contains($_f.id))
							#set($_sel = 'selected="selected"')
						#end
					<option $_sel value="$_f.id">$_f.name</option>
					#end
					</select>
					Hold Ctrl-key for multi-selection
				</td>
			<tr>
				<td></td>
				<td><input type="submit" name="ok" value="OK" /><input type="submit" name="cancel" value="Cancel" />
			</tr>
		</table>
		</form>
	</body>
</html>