<html>
<head>
	<title>Panama Demo</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
	<div class="examplesheader">Panama Demo</div>
	<h4><a href="../tinyguestbook">Tiny Guestbook</a></h4>
	<p>A tiny guestbook as featured in the project's wiki.</p>
	<hr />
	<h4><a href="../fileitems">File Items</a></h4>
	<p>Shows how to handle file uploads with FileItemField class.</p>
	<hr />
	<h4><a href="../i18n">Internationalization</a></h4>
	<hr />
	<h4><a href="../secureguestbook">Secure Guestbook</a></h4>
	<p>This example shows some security related features of Panama.</p>
	<ul>
		<li>The token mechanism to prevent your applications from cross site scripting (and double submits).</li>
		<li>An easy way to implement a login to access (parts of) your application using the beforeAction() method.</li>

	</ul>
	<hr />
	<h4><a href="../tilesexample">Tiles</a></h4>
	<p>Using the <a href="http://code.google.com/p/panama/wiki/Documentation#Tiles" target="_blank">tiles tool</a> you can compose one HTML page from the results of different actions, kind like portlets.</p>
	<hr />
	<h4><a href="../issues">Issue Tracker (with database)</a></h4>
	<p>This example of an issue tracker shows how to write database applications with Panama using the tightly integrated Ebean ORM persistence layer.</p>
	<div class="note"><strong>Note:</strong> For sake of simplicity we use an embedded H2 database for this example. Ebean is so configured to create the database anew, everytime the web-application is started, so don't be surprised when earlier entries are gone after a restart.</div>
	<hr />
</body>
</html>