<html>
<head>
	<title>Panama Examples - Secure Guestbook</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
  #set($examplename="Security")
  #parse("/panama/examples/exampleheader.vm")
  <form name="fm" method="POST" action="add">
	<input type="hidden" name="token" value="$context.tokens.secure" />
    Add your comment here:
    <p>
    <textarea name="text">This is a comment</textarea>
	</p>
    <input type="submit" value="Submit" />
    (or <a href="logout">logout</a>)
  </form>
  <p></p>
  <table>
	<tr>
		<th>Date</th>
		<th>Comment</th>
	</tr>
    #foreach($entry in $secureguestbookentries.rows)
	<tr>
		<td>$entry.date</td>
		<td>$entry.text</td>
	</tr>
    #end
  </table>
</body>
</html>
