<html>
<head>
	<title>Panama Examples - Internationalization</title>
	<link rel="stylesheet" href="../simple.css" type="text/css">
</head>
<body>
  #set($examplename="Internationalization")
  #parse("/panama/examples/exampleheader.vm")
  <p>
  $text.supported_languages.insert($context.core.getInitParam("panama.languages"))
  </p>
  <p>
	<ul>
		<li><a href="./set?language=en">english</a></li>
		<li><a href="./set?language=de">deutsch</a></li>
		<li><a href="./set?language=fr">francais</a> (shows fallback to english because no french translations are available)</li>
		<li><a href="./clear">default</a></li>
	</ul>
  <p>
  $text.currently_used_locale.insert($request.locale)
  </p>
</body>
</html>
