body, td, th {
	font-family: arial, helvetica, sans;
	font-size: 90%;
}

.examplesheader {
	background-color:black;
	font-size:1.5em;
	padding:0.25em;
	color: #eee;
	margin-bottom:0.5em;
}

.examplesheader a {
	color: #9999ff;
}

table {
	width: 100%;
	border-collapse: collapse;
}

form > table {
	width: 40em;
}

td, th {
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
}

th {
	font-weight: normal;
	background: #ccc;
}

td.narrow {
	width: 1%;
	white-space: nowrap;
}

fieldset {
	border: 1px solid #999;
	margin-bottom: 1em;
}

textarea, input[type=text], input[type=password], select {
	width:100%;
}

div.note {
	background:#ddd;
	border-left:6px solid #aaa;
	padding: 4px;